:root {
    --cor-primaria-success : rgb(75, 200, 138);
    --cor-secundaria-success : rgb(22, 58, 40);
}

.btn {
    border: none;
    padding: 10px;
    text-decoration: none;
}

.btn-success {
    background-color: var(--cor-primaria-success);
    outline: none;
    color: var(--cor-secundaria-success);
    text-transform: uppercase;
}