:root {
    --cor-primaria-success : rgb(75, 200, 138);
    --cor-secundaria-success : rgb(22, 58, 40);
}

.btn {
    border: none;
    padding: 10px;
    text-decoration: none;
}

.btn-success {
    background-color: var(--cor-primaria-success);
    outline: none;
    color: var(--cor-secundaria-success);
    text-transform: uppercase;
}

.btn-animation span:after {
    content: '→';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-animation:hover span {
    padding-right: 25px;
}

.btn-animation:hover span:after {
    opacity: 1;
    right: 0;
}
